@media only screen and (min-width: 601px) {
    .margin-b2 {
        margin-bottom: 0;
    }

    .flex-v-align {
        display: flex;
        align-items: center;
    }

    .button-v-stack {
      margin-bottom: 0;
    }
}