/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */

button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */

input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */

menu {
  display: block;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
    max-width: 1200px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    width: 75%;
    max-width: 1200px;
  }
}

.row {
  float: left;
  width: 100%;
  margin-bottom: 2em;
}

.row:last-child {
  margin-bottom: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  min-height: 1px;
}

.row .col.s1 {
  width: 6.5%;
  margin-right: 2%;
}

.row .col.s2 {
  width: 15%;
  margin-right: 2%;
}

.row .col.s3 {
  width: 23.5%;
  margin-right: 2%;
}

.row .col.s4 {
  width: 32%;
  margin-right: 2%;
}

.row .col.s5 {
  width: 40.5%;
  margin-right: 2%;
}

.row .col.s6 {
  width: 49%;
  margin-right: 2%;
}

.row .col.s7 {
  width: 57.5%;
  margin-right: 2%;
}

.row .col.s8 {
  width: 66%;
  margin-right: 2%;
}

.row .col.s9 {
  width: 74.5%;
  margin-right: 2%;
}

.row .col.s10 {
  width: 83%;
  margin-right: 2%;
}

.row .col.s11 {
  width: 91.5%;
  margin-right: 2%;
}

.row .col.s12 {
  width: 100%;
  margin-right: 0;
}

.row .col.offset-s1 {
  margin-left: 8.5%;
}

.row .col.offset-s2 {
  margin-left: 17%;
}

.row .col.offset-s3 {
  margin-left: 25.5%;
}

.row .col.offset-s4 {
  margin-left: 34%;
}

.row .col.offset-s5 {
  margin-left: 42.5%;
}

.row .col.offset-s6 {
  margin-left: 51%;
}

.row .col.offset-s7 {
  margin-left: 59.5%;
}

.row .col.offset-s8 {
  margin-left: 68%;
}

.row .col.offset-s9 {
  margin-left: 76.5%;
}

.row .col.offset-s10 {
  margin-left: 85%;
}

.row .col.offset-s11 {
  margin-left: 93.5%;
}

.row .col.offset-s12 {
  margin-left: 102%;
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 6.5%;
    margin-right: 2%;
  }

  .row .col.m2 {
    width: 15%;
    margin-right: 2%;
  }

  .row .col.m3 {
    width: 23.5%;
    margin-right: 2%;
  }

  .row .col.m4 {
    width: 32%;
    margin-right: 2%;
  }

  .row .col.m5 {
    width: 40.5%;
    margin-right: 2%;
  }

  .row .col.m6 {
    width: 49%;
    margin-right: 2%;
  }

  .row .col.m7 {
    width: 57.5%;
    margin-right: 2%;
  }

  .row .col.m8 {
    width: 66%;
    margin-right: 2%;
  }

  .row .col.m9 {
    width: 74.5%;
    margin-right: 2%;
  }

  .row .col.m10 {
    width: 83%;
    margin-right: 2%;
  }

  .row .col.m11 {
    width: 91.5%;
    margin-right: 2%;
  }

  .row .col.m12 {
    width: 100%;
    margin-right: 0;
  }

  .row .col.offset-m1 {
    margin-left: 8.5%;
  }

  .row .col.offset-m2 {
    margin-left: 17%;
  }

  .row .col.offset-m3 {
    margin-left: 25.5%;
  }

  .row .col.offset-m4 {
    margin-left: 34%;
  }

  .row .col.offset-m5 {
    margin-left: 42.5%;
  }

  .row .col.offset-m6 {
    margin-left: 51%;
  }

  .row .col.offset-m7 {
    margin-left: 59.5%;
  }

  .row .col.offset-m8 {
    margin-left: 68%;
  }

  .row .col.offset-m9 {
    margin-left: 76.5%;
  }

  .row .col.offset-m10 {
    margin-left: 85%;
  }

  .row .col.offset-m11 {
    margin-left: 93.5%;
  }

  .row .col.offset-m12 {
    margin-left: 102%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 6.5%;
    margin-right: 2%;
  }

  .row .col.l2 {
    width: 15%;
    margin-right: 2%;
  }

  .row .col.l3 {
    width: 23.5%;
    margin-right: 2%;
  }

  .row .col.l4 {
    width: 32%;
    margin-right: 2%;
  }

  .row .col.l5 {
    width: 40.5%;
    margin-right: 2%;
  }

  .row .col.l6 {
    width: 49%;
    margin-right: 2%;
  }

  .row .col.l7 {
    width: 57.5%;
    margin-right: 2%;
  }

  .row .col.l8 {
    width: 66%;
    margin-right: 2%;
  }

  .row .col.l9 {
    width: 74.5%;
    margin-right: 2%;
  }

  .row .col.l10 {
    width: 83%;
    margin-right: 2%;
  }

  .row .col.l11 {
    width: 91.5%;
    margin-right: 2%;
  }

  .row .col.l12 {
    width: 100%;
    margin-right: 0;
  }

  .row .col.offset-l1 {
    margin-left: 8.5%;
  }

  .row .col.offset-l2 {
    margin-left: 17%;
  }

  .row .col.offset-l3 {
    margin-left: 25.5%;
  }

  .row .col.offset-l4 {
    margin-left: 34%;
  }

  .row .col.offset-l5 {
    margin-left: 42.5%;
  }

  .row .col.offset-l6 {
    margin-left: 51%;
  }

  .row .col.offset-l7 {
    margin-left: 59.5%;
  }

  .row .col.offset-l8 {
    margin-left: 68%;
  }

  .row .col.offset-l9 {
    margin-left: 76.5%;
  }

  .row .col.offset-l10 {
    margin-left: 85%;
  }

  .row .col.offset-l11 {
    margin-left: 93.5%;
  }

  .row .col.offset-l12 {
    margin-left: 102%;
  }
}

.row .col:last-child {
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

header {
  background: #4a148c;
  float: left;
  width: 100%;
  padding: 2em 0;
  background-image: url(/images/house.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

main {
  position: relative;
  float: left;
  width: 100%;
}

footer {
  float: left;
  width: 100%;
}

.margin-b-2 {
  float: left;
  width: 100%;
  margin: 1em 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.logo-img {
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}

.logo-link {
  float: left;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.logo-name {
  color: white;
  text-decoration: none;
  margin-left: 1em;
}

.logo-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.signin {
  height: 2em;
  line-height: 2em;
  border-radius: 3px 0 0 3px;
  width: 40%;
  text-align: center;
  color: #ffffff;
  float: right;
  border-right: 1px solid #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.signin:hover {
  background: #ffffff;
  color: #4a148c;
}

.signup {
  height: 2em;
  line-height: 2em;
  color: #ffffff;
  border-radius: 0 3px 3px 0;
  text-align: center;
  width: 60%;
  float: right;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.signup:hover {
  background: #ffffff;
  color: #4a148c;
}

.registration-row {
  float: left;
  width: 100%;
}

.menu-row {
  float: left;
  width: 100%;
}

.v-g-button-element {
  height: 3em;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0.5em;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border: 1px solid #ffffff;
}

.v-g-button-element:hover {
  background: #ffffff;
  color: #4a148c;
}

.v-g-button-element:last-child {
  margin-bottom: 0;
}

.b-gray {
  height: 3em;
  background: #444a90;
  border-radius: 3px;
}

.margin-b2 {
  margin-bottom: 2em;
}

.button-v-stack {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.row .button-v-stack:last-child {
  margin-bottom: 0;
}

.registration-group {
  margin: 0 auto;
}

@media only screen and (min-width: 601px) {
  .margin-b2 {
    margin-bottom: 0;
  }

  .flex-v-align {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .button-v-stack {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .v-g-button-element,
  .registration-group {
    max-width: 300px;
  }
}

